@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            <CascadingValue Value="@appState">
                @Body
            </CascadingValue>
            @* <CascadingValue Value="@Color" Name="Color">
                            <CascadingValue Value="@Size" Name="Size"> *@

            @* <BlazorTest.Client.Pages.Counter></BlazorTest.Client.Pages.Counter> *@
            @* </CascadingValue>
                        </CascadingValue> *@
        </div>
    </div>
</div>

@code{
    AppState appState = new AppState();
    public class AppState
    {
        public string Color = "red";
        public string Size = "12px";
    }
}
